<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="~{/member/fragments::head}">
</head>
<body>
  <!--================Header Menu Area =================-->
  <header th:replace="~{/member/fragments::header}">
  </header>
  <!--================Header Menu Area =================-->
  
<!--  &lt;!&ndash;================ Hero sm Banner start =================&ndash;&gt;-->
<!--  <section th:replace="~{/member/fragments::hero_banner}">-->
<!--  </section>-->
<!--  &lt;!&ndash;================ Hero sm Banner end =================&ndash;&gt;    -->


  

  <!--================ Start Blog Post Area =================-->
  <section class="blog-post-area section-margin" style="margin-top: 25px!important;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
            <div class="main_blog_details">
                <img class="img-fluid" th:src = "${'data:image/jpeg;base64,' + {post.image}}" alt="">
                <a href="#"><h4 th:text="${post.title}"></h4></a>
                <div class="user_details">
                  <div class="float-left">
                    <a href="#" th:text="${post.category}"></a>
                  </div>
                  <div class="float-right mt-sm-0 mt-3">
                    <div class="media">
                      <div class="media-body">
                        <h5 th:text="${post.user}"></h5>
                          <p th:text="${#dates.format(post.createddate, 'dd-MMM-yyyy')}"></p>
                      </div>
                      <div class="d-flex">
                        <img width="42" height="42"  th:src = "${'data:image/jpeg;base64,' + {author.avatar}}" alt="">
                      </div>
                    </div>
                  </div>
                </div>
           <blockquote class="blockquote">
             <p class="mb-0" th:text="${post.shortdescription}"></p>
           </blockquote>
           <div th:utext="${post.content}"></div>
            <div class="news_d_footer flex-column flex-sm-row">
                <button id="likeBtn" style="background: none; border: none"><span class="align-middle mr-2"><i class="ti-heart"></i></span><span id="countLikes" th:text="${countLikes}"></span></button>
                <a class="justify-content-sm-center ml-sm-auto mt-sm-0 mt-2" disabled="true" ><span class="align-middle mr-2"><i class="ti-themify-favicon"></i></span><span class="countPost" th:text="${countComments} +' comments'"></span></a>
                 <div class="news_socail ml-sm-auto mt-sm-0 mt-2">
                   <a href="#"><i class="fab fa-facebook-f"></i></a>
                   <a href="#"><i class="fab fa-twitter"></i></a>
                   <a href="#"><i class="fab fa-dribbble"></i></a>
                   <a href="#"><i class="fab fa-behance"></i></a>
                 </div>
               </div>
            </div>
          

          <div class="navigation-area">
                  <div class="row">
                      <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                          <div class="thumb">
                              <a th:href="@{/member/blog-details/{id} (id=${postPrev.id})}"><img style="height: 40px; width: 50px;" th:src = "${'data:image/jpeg;base64,' + {postPrev.image}}" alt=""></a>
                          </div>
                          <div class="arrow">
                              <a th:href="@{/member/blog-details/{id} (id=${postPrev.id})}"><span class="lnr text-white lnr-arrow-left"></span></a>
                          </div>
                          <div class="detials">
                              <p>Prev Post</p>
                              <a th:href="@{/member/blog-details/{id} (id=${postPrev.id})}"><h4 th:text="${postPrev.title}"></h4></a>
                          </div>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                          <div class="detials">
                              <p>Next Post</p>
                              <a th:href="@{/member/blog-details/{id} (id=${postNext.id})}"><h4 th:text="${postNext.title}"></h4></a>
                          </div>
                          <div class="arrow">
                              <a th:href="@{/member/blog-details/{id} (id=${postNext.id})}"><span class="lnr text-white lnr-arrow-right"></span></a>
                          </div>
                          <div class="thumb">
                              <a th:href="@{/member/blog-details/{id} (id=${postNext.id})}"><img style="height: 40px; width: 50px;" class="img-fluid" th:src = "${'data:image/jpeg;base64,' + {postNext.image}}" alt=""></a>
                          </div>										
                      </div>									
                  </div>
                </div>
                <div class="comments-area" id="commentsArea">
                    <h4 th:text="${countComments} + ' Comments'" th:value="${countComments}" class="countPost"></h4>
                    <div class="comment-list" th:each="comment:${comments}">
                        <div class="single-comment justify-content-between d-flex" >
                            <div class="user justify-content-between d-flex">
<!--                                <div class="thumb">-->
<!--                                    <img style="height: 50px; width: 50px;" class="img-fluid" th:src = "${'data:image/jpeg;base64,' + {comment.user.avatar}}" alt="">-->
<!--                                </div>-->
                                <div class="desc">
                                    <h5 th:text="${comment.user.username}"></h5>
                                    <p class="date" th:text="${#dates.format(comment.createddate, 'dd-MM-yyyy')}"> </p>
                                    <p class="comment" th:text="${comment.content}">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>	
                </div>
                <div class="comment-form" id="commentForm" sec:authorize="isAuthenticated()">
                    <h4>Leave a Reply</h4>
                    <form>
                        <div class="form-group">
                            <textarea id="commentContent" class="form-control mb-10" rows="5" required></textarea>
                        </div>
                        <button id="btnPostComment" class="button submit_btn">Post Comment</button>
                    </form>
                </div>
                <div class="alert alert-info" sec:authorize="isAnonymous()">
                    <strong>Info!</strong><br> Please sign in to post your comments or like posts
                </div>
        </div>
        <input id="postid" th:value="${post.id}" type="hidden"/>
          <input id="username" th:value="${username}" type="hidden"/>
          <input id="numOfComments" th:value="${countComments}" type="hidden"/>
          <input id="numOfLikes" th:value="${countLikes}" type="hidden">
          <input id="isLiked" th:value="${isLiked}" type="hidden">
          <!-- Start Blog Post Siddebar -->
          <div th:replace="~{/member/fragments::sidebar}">
          </div>
      </div>
        <!-- End Blog Post Siddebar -->
      </div>
  </section>
  <!--================ End Blog Post Area =================-->

  <!--================ Start Footer Area =================-->
  <footer th:replace="~{/member/fragments::footer}">
  </footer>
  <!--================ End Footer Area =================-->
  <script type="text/javascript">

      var postid = $("#postid").val();
      var username = $("#username").val();
      var isLiked = $("#isLiked").val();
      var saveCommentUrl = "[[@{/}]]" + "api/comments/save" + "?postid=" + postid + "&username=" + username;
      var likePostUrl = "[[@{/}]]" + "api/posts/like" + "?postid=" + postid + "&username=" + username;
      var unLikePostUrl = "[[@{/}]]" + "api/posts/unlike" + "?postid=" + postid + "&username=" + username;
      var csrfHeader = "[[${_csrf.headerName}]]";
      var csrfToken = "[[${_csrf.token}]]";


      var likeBtn = document.querySelector("#likeBtn");
      if(isLiked === "TRUE"){
          likeBtn.classList.add("text-danger");
      } else if (isLiked === "CANNOT"){
          likeBtn.disabled = true;
      }


      $('#likeBtn').click(function (e) {
          e.preventDefault();

          if(likeBtn.classList.contains("text-danger")){
              unlikePost();
          }
          else {
              likePost();
          }

      })

      function likePost(){
          $.ajax({
              url: likePostUrl,
              type: 'POST',
              beforeSend: function (xhr) { //Phan nay la de ko bi spring security chan lai
                  xhr.setRequestHeader(csrfHeader, csrfToken);
              },
              success: function () {
                  console.log("Like Success");

              },
              error: function (){
                  console.log("Some thing went wrong");
              }
          }).done(function () {
              likeBtn.classList.add("text-danger");
              let countLikesNew = parseInt($('#numOfLikes').val(), 10) + 1;
              $('#numOfLikes').val(countLikesNew);
              //console.log(countCommentNew);
              $('#countLikes').text(countLikesNew);
          })
      }

      function unlikePost(){
          $.ajax({
              url: unLikePostUrl,
              type: 'POST',
              beforeSend: function (xhr) { //Phan nay la de ko bi spring security chan lai
                  xhr.setRequestHeader(csrfHeader, csrfToken);
              },
              success: function () {
                  console.log("Unlike Success");

              },
              error: function (){
                  console.log("Some thing went wrong");
              }
          }).done(function () {
              likeBtn.classList.remove("text-danger");
              let countLikesNew = parseInt($('#numOfLikes').val(), 10) - 1;
              $('#numOfLikes').val(countLikesNew);
              //console.log(countCommentNew);
              $('#countLikes').text(countLikesNew);
          })
      }

      $('#btnPostComment').click(function (e) {
          e.preventDefault(); // Tranh submit nham url
          // var data = {}; // Day la cai mang de luu cac data tu cac the input de gui len server
          // var formData = $('#commentForm').serializeArray();
          // $.each(formData, function (i, v) {
          //     data[""+v.name+""] = v.value;
          // });

          var commentContent = $('#commentContent').val();
          var data = {content: commentContent};

          addComment(data);
      });

      function addComment(data){
        $.ajax({
            url: saveCommentUrl,
            type: 'POST',
            beforeSend: function (xhr) { //Phan nay la de ko bi spring security chan lai
                xhr.setRequestHeader(csrfHeader, csrfToken);
            },
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',

            success: function () {
                console.log(data);

            },
            error: function (){
                console.log("Some thing went wrong");
            }
        }).done(function (data) {


            let commentArea = document.getElementById('commentsArea');
            commentArea.innerHTML = commentArea.innerHTML + `
                <div class="comment-list">
                    <div class="single-comment justify-content-between d-flex" >
                        <div class="user justify-content-between d-flex">
                            <div class="desc">
                                <h5>${data.user.username}</h5>
                                <p class="date newCommentDate"></p>
                                <p class="comment">${data.content}</p>
                            </div>
                        </div>
                    </div>
                </div>
            `;

            //Xu ly date cho new comment
            const today = new Date();
            const yyyy = today.getFullYear();
            let mm = today.getMonth() + 1; // Months start at 0!
            let dd = today.getDate();
            if (dd < 10) dd = '0' + dd;
            if (mm < 10) mm = '0' + mm;
            const formattedToday = dd + '-' + mm + '-' + yyyy;
            $('.newCommentDate').text(formattedToday);

            //Xu ly so luong comment sau khi them comment moi vao
            let countCommentNew = parseInt($('#numOfComments').val(), 10) + 1;
            $('#numOfComments').val(countCommentNew);
            //console.log(countCommentNew);
            $('.countPost').text(countCommentNew + ' Comments');


        })
      }



  </script>
  <div th:replace="~{/member/fragments::script}"></div>
</body>
</html>