<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">

<head th:replace="~{/admin/fragments::head}">
</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="~{/admin/fragments::header}">
</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="~{/admin/fragments::sidebar}">
</aside><!-- End Sidebar-->

<main id="main" class="main">


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="~{/admin/fragments::footer}">
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<div th:replace="~{/admin/fragments::script}"></div>
</body>

</html>