<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">

<head th:replace="~{/admin/fragments::head}">
</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="~{/admin/fragments::header}">
</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="~{/admin/fragments::sidebar}">
</aside><!-- End Sidebar-->

<main id="main" class="main">

<!--    <div class="pagetitle">-->
<!--        <h1>General Tables</h1>-->
<!--        <nav>-->
<!--            <ol class="breadcrumb">-->
<!--                <li class="breadcrumb-item"><a href="index.html">Home</a></li>-->
<!--                <li class="breadcrumb-item">Tables</li>-->
<!--                <li class="breadcrumb-item active">General</li>-->
<!--            </ol>-->
<!--        </nav>-->
<!--    </div>&lt;!&ndash; End Page Title &ndash;&gt;-->

    <section class="section">
        <div class="row">

            <div class="col-lg">

                <div class="card">
                    <div class="card-body">

                        <h5 class="card-title">Categories</h5>
                        <div th:if = "${size == 0}">
                            <p>No categories in system</p>
                        </div>
                        <div th:if = "${success}" class="text-center alert alert-success">
                            <p th:text = "${success}"></p>
                        </div>
                        <div th:if = "${errors}" class="text-center alert alert-danger">
                            <p th:text = "${errors}"></p>
                        </div>
                        <!-- Table with stripped rows -->
                        <table class="table table-striped" th:if = "${size > 0}">
                            <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Created Date</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Enable/Disable</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="category:${categories}">
                                <th scope="row" th:text="${category.id}"></th>
                                <td th:text="${category.name}"></td>
                                <td th:text="${category.createddate}"></td>
                                <td>
                                    <a th:href="@{/admin/update-category/{id} (id=${category.id})}" class="btn btn-warning">Update</a>
                                </td>
                                <td>
                                    <a th:if="${category.is_enabled == true}" th:href="@{/disable-category/{id} (id=${category.id}) }" class="btn btn-danger">Disable</a>
                                    <a th:if="${category.is_enabled == false}" th:href="@{/enable-category/{id} (id=${category.id}) }" class="btn btn-primary">Enable</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                        <!-- Pagination -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li th:if = "${currentPage != 0}" class="page-item">
                                    <a th:href="@{'/admin/categories/' + ${currentPage - 1}}" class="page-link" href="#">Previous</a>
                                </li>
                                <li th:each = "i : ${#numbers.sequence(1, totalPages)}" th:classappend="${currentPage == i - 1 ? 'active' : ''}" class="page-item">
                                    <a th:href="@{'/admin/categories/' + ${i - 1}}" class="page-link" href="#"><span th:text = "${i}"></span></a>
                                </li>
                                <li th:if = "${currentPage + 1 != totalPages}" class="page-item">
                                    <a th:href="@{'/admin/categories/' + ${currentPage + 1}}" class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->


<!-- ======= Footer ======= -->
<footer th:replace="~{/admin/fragments::footer}">
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<div th:replace="~{/admin/fragments::script}"></div>
</body>

</html>